body {
    background-color: teal;
}

h1 {
    color: aquamarine;
    font-size: 60px;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    color: aquamarine;
    text-align: left;
    margin-left: 100px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
}

.description {
    color: aquamarine;
    text-align: left;
    margin-left: 100px;
}

p {
    color: aqua;
    font-size: 16px;
    text-align: left;
    margin-left: 100px;
    width: 850px;
}

ul {
    color: aqua;
    margin-left: 110px;
    margin-right: auto;
    width: 150px;
}

ol {
    color: aqua;
    margin-left: 110px;
    margin-right: auto;
    width: 500px;
}