h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
}

.description {
    text-align: left;
    margin-left: 100px;
}

p {

text-align: center;
}

ul {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

ol {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}