* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: teal;
}

h1 {
    color: aqua;
    font-size: 60px;
    text-align: center;
}

a {
color: aquamarine;
}

ul {
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 155px;
}


